#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  background-color: grey;
  width: 60%;
  border-radius: 15px;
}

#text {
  padding: 1.5em 1em;
  font-size: 28px;
  justify-content: center;
  text-align: center;
}
#author {
  text-align: end;
  padding: 0em 2em
}
#btn-wrapper {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 1em;
}
